
  <div class="row" data-aos="fade-down">
    <div class="col" data-aos="fade-down">
      <circle-progress
  [percent]="90"
  [radius]="100"
  [showImage]="true"
  [imageSrc]="'../assets/html.png'"
  [imageHeight]="100"
  [imageWidth]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
    </div>
    <div class="col"><circle-progress
      [percent]="95"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/js.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
    <div class="col"><circle-progress
      [percent]="75"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/CSS.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
  </div>
  <div class="row" id="segunda">
    <div class="col"><circle-progress
      [percent]="67"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/eng.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
    <div class="col"><circle-progress
      [percent]="90"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/git.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
    <div class="col"><circle-progress
      [percent]="100"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/grupal.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress> </div>
  </div>

