
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <circle-progress
  [percent]="85"
  [radius]="100"
  [showImage]="true"
  [imageSrc]="'../assets/html.png'"
  [imageHeight]="100"
  [imageWidth]="100"
  [outerStrokeWidth]="16"
  [innerStrokeWidth]="8"
  [outerStrokeColor]="'#78C000'"
  [innerStrokeColor]="'#C7E596'"
  [animation]="true"
  [animationDuration]="800"
></circle-progress>
    </div>
    <div class="col"><circle-progress
      [percent]="85"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
    <div class="col"><circle-progress
      [percent]="85"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
  </div>
  <div class="row">
    <div class="col"><circle-progress
      [percent]="85"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
    <div class="col"><circle-progress
      [percent]="85"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress></div>
    <div class="col"><circle-progress
      [percent]="85"
      [radius]="100"
      [showImage]="true"
      [imageSrc]="'../assets/html.png'"
      [imageHeight]="100"
      [imageWidth]="100"
      [outerStrokeWidth]="16"
      [innerStrokeWidth]="8"
      [outerStrokeColor]="'#78C000'"
      [innerStrokeColor]="'#C7E596'"
      [animation]="true"
      [animationDuration]="800"
    ></circle-progress> </div>
  </div>
</div>
