<div class="row" id="">
  <div class="">
    <img
      src="../../../assets/ReadyPlayerMe-Avatar (1).png"
      alt=""
      class="img-fluid"
      id="foto-perfil"
    />
  </div>
  <div class="col border border-dark m-1" id="nombrey">
    <div>
      <p class="" id="nombre">MAURO LUNA</p>
      <p>Full Stack Developer Junior</p>
    </div>
  </div>
  <div class="col border border-dark m-1" id="lorem">
    <span class="fw-bold">Acerca de mi</span>
    <p class="lorem">
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel eos mollitia
      ratione laboriosam iste rem praesentium accusamus cupiditate nisi,
      delectus, deserunt cumque harum molestias rerum ipsa illum amet at
      impedit?
    </p>
  </div>
</div>
