.row{

  text-align: center;

  padding: 3%;
  background-color: rgb(166, 166, 255);

}
#nombrey{
  margin-bottom: 0px;
  background-color: rgb(94, 94, 233);
  border-radius: 30px 30px 30px 30px;
}

#nombrey:hover{
  margin-bottom: 20%;
  background-color: rgb(94, 94, 233);
  border-radius: 40px 40px 40px 40px;
  box-shadow: 5px 1px 10px rgb(37, 9, 9);
}


#lorem{
  margin-bottom: 0px;
  background-color: rgb(94, 94, 233);
  border-radius: 30px 30px 30px 30px;
}
.div{
  background-color: rgb(166, 166, 255);
}
 #nombre{
  font-size: 30px;
  margin-top: 20px;
  font-family: 'Saira', sans-serif;



 }
 #foto-pefil{
  border: 2px solid rgb(37, 9, 9);
  border-radius: 5px;
 }
@media (min-width: 576px){
  #foto-perfil{
    position: absolute;
    width: 20%;
    border-radius: 100%;
left: 5%;
top: 300px;
  }
}
  @media (max-width: 575px){
    #foto-perfil{
      position: relative;
      width: 40%;
      border-radius: 100%;

  top: 10px;
    }
}

