<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <img src="../../../assets/foto2.jpg" alt="" class="img-fluid" id="foto-perfil" />
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <p class="" id="nombre">Mauro Luna</p>
      <p>Full Stack Developer Junior</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <span>Acerca de mi</span>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel eos
        mollitia ratione laboriosam iste rem praesentium accusamus cupiditate
        nisi, delectus, deserunt cumque harum molestias rerum ipsa illum amet at
        impedit?
      </p>
    </div>
  </div>
</div>
