
  <div class="row">
  <div class="container" >
    <div>
    <img src="../../../assets/APLogo.png" alt="" class="logos"   />
  </div>
  <div class="social m-1">
    <a href=""><img src="../../../assets/linkedin.png" id="linkedin" /></a>
    <a href=""><img src="../../../assets/github.png" id="github" /></a>
    <a href=""><img src="../../../assets/twitter.png" id="twitter" /></a>
    <a href="https://www.facebook.com/mauro.luna.92317"
      ><img src="../../../assets/facebook.png" id="facebook"
    /></a>
    <a href=""><img src="../../../assets/instagram.png" id="instagram" /></a>

 <button class="btn m-1 btn-outline-light">Ingreso</button>
</div>
</div>
</div>
