<div class="mt-0 row border border-dark">
  <h2 class="">Experiencia Laboral</h2>
  <br>
  <br>
  <br>
  <div class="col-lg-6 col-md-6 margen">
    <ul>
      <li>
        <h3>Trabajo1</h3>
        <h3>Años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse illo fuga
        animi ducimus? Quae ab maiores repudiandae sed atque, blanditiis, quis
        consequatur accusantium, culpa corrupti iure. Perspiciatis iusto nostrum
        animi.
      </p>
    </ul>
    <ul>
      <li>
        <h3>Trabajo2</h3>
        <h3>Años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse illo fuga
        animi ducimus? Quae ab maiores repudiandae sed atque, blanditiis, quis
        consequatur accusantium, culpa corrupti iure. Perspiciatis iusto nostrum
        animi.
      </p>
    </ul>
    <ul>
      <li>
        <h3>Trabajo3</h3>
        <h3>Años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse illo fuga
        animi ducimus? Quae ab maiores repudiandae sed atque, blanditiis, quis
        consequatur accusantium, culpa corrupti iure. Perspiciatis iusto nostrum
        animi.
      </p>
    </ul>
  </div>
</div>

