<div class=" row container-fluid">
  <h2 class="">Estudios</h2>
  <br>
  <br>
  <br>
  <div class="col-lg-6 col-md-6 margen">
    <ul>
      <li>
        <h3>Estudio Tecnico</h3>
        <h3>Años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse illo fuga
        animi ducimus? Quae ab maiores repudiandae sed atque, blanditiis, quis
        consequatur accusantium, culpa corrupti iure. Perspiciatis iusto nostrum
        animi.
      </p>
    </ul>
    <ul>
      <li>
        <h3>Estudio Universitario</h3>
        <h3>Años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse illo fuga
        animi ducimus? Quae ab maiores repudiandae sed atque, blanditiis, quis
        consequatur accusantium, culpa corrupti iure. Perspiciatis iusto nostrum
        animi.
      </p>
    </ul>
    <ul>
      <li>
        <h3>Estudios</h3>
        <h3>Años</h3>
      </li>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse illo fuga
        animi ducimus? Quae ab maiores repudiandae sed atque, blanditiis, quis
        consequatur accusantium, culpa corrupti iure. Perspiciatis iusto nostrum
        animi.
      </p>
    </ul>
  </div>
</div>
